body {
  font-family: 'M PLUS Rounded 1c', sans-serif; }

i {
  margin-right: 20px; }

h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 10px; }

hr {
  margin: 20px auto;
  width: 800px;
  border: 2px black solid; }

.top-wrapper {
  text-align: center; }
  .top-wrapper img {
    height: 300px; }

.description p {
  text-align: center;
  font-size: 17px;
  line-height: 2em;
  letter-spacing: 0.2em; }

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-wrapper a {
    position: relative;
    top: 0px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    border: 2px #89c3eb solid;
    border-radius: 7.5px;
    margin: 30px 10px 0;
    padding: 8px 15px;
    transition: top 0.1s linear 0s; }
    .btn-wrapper a:hover {
      top: -3px; }
    .btn-wrapper a:visited {
      color: black; }

.about-wrapper {
  margin: 100px 0;
  text-align: center; }
  .about-wrapper h2 {
    font-size: 60px; }
  .about-wrapper hr {
    width: 500px; }
  .about-wrapper p {
    margin: 30px 0;
    font-size: 17px;
    line-height: 1em;
    letter-spacing: 0.15em; }

.project-wrapper {
  margin: 100px 0;
  text-align: center; }
  .project-wrapper h2 {
    font-size: 60px; }
  .project-wrapper hr {
    width: 600px; }
  .project-wrapper img {
    height: 250px;
    margin: 20px; }

.dev-wrapper {
  margin: 100px 0;
  text-align: center; }
  .dev-wrapper h2 {
    font-size: 60px; }
  .dev-wrapper hr {
    width: 500px; }
  .dev-wrapper p {
    margin: 30px 0;
    font-size: 17px;
    line-height: 0.8em;
    letter-spacing: 0.1em; }

.link {
  margin: 100px 0;
  text-align: center; }
  .link h2 {
    font-size: 60px; }
  .link hr {
    width: 500px; }
  .link p {
    margin: 30px 0;
    font-size: 25px;
    line-height: 0.8em;
    letter-spacing: 0.1em; }
  .link a {
    text-decoration: none;
    color: black; }
    .link a:visited {
      color: black; }
  .link i {
    margin-right: 10px; }

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background-color: orange;
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff; }

.scroll-top:hover {
  cursor: pointer; }

footer p {
  text-align: center; }

.modal_wrap input {
  display: none; }

.modal_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0); }

.modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%; }

.modal_content {
  align-self: center;
  width: 60%;
  height: 40%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.8em;
  transform: scale(0.3);
  transition: 0.5s; }
  .modal_content h3 {
    font-size: 40px;
    margin-bottom: 30px; }
  .modal_content hr {
    width: 90%;
    border: 0.5px black solid; }

.close_button {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer; }

.modal_wrap input:checked ~ .modal_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s; }

.modal_wrap input:checked ~ .modal_overlay .modal_content {
  transform: scale(1); }

.open_button {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
